<!--
    Perform AMCL localisation: runs several nodes to generate odometry from laser scans (ICP) & IMU, loads a map of the POW assessment area, runs AMCL, plays back a dataset for localisation, and runs the visualiser with the correct visualisation parameters configured.
-->

<launch>
	<param name="use_sim_time" value="true"/>
	

	<node name="rosplay" pkg="rosbag" type="play" args="$(find pow_analyzer)/data/2.bag  --clock"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(find pow_analyzer)/maps/level2-gmapping.yaml" 		output="screen"/>
	
	

	<node pkg="tf" type="static_transform_publisher" name="corner_a" args="0.45 0.3 0 0 0 0 /base_link /corner1 10"/>
	<node pkg="tf" type="static_transform_publisher" name="corner_b" args="0.45 -0.3 0 0 0 0 /base_link /corner2 10"/>
	<node pkg="tf" type="static_transform_publisher" name="corner_c" args="-0.45 -0.3 0 0 0 0 /base_link /corner3 10"/>
	<node pkg="tf" type="static_transform_publisher" name="corner_d" args="-0.45 0.3 0 0 0 0 /base_link /corner4 10"/>
	
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
	<param name="output_frame" value="odom"/>
	<param name="freq" value="10"/>
	<param name="sensor_timeout" value="5.0"/>
	<param name="odom_used" value="true"/>
	<param name="imu_used" value="true"/>
	<param name="vo_used" value="false"/>
	<param name="debug" value="false"/>
	<param name="pub_odometry" value="true"/>
	<param name="self_diagnose" value="false"/>
	<remap from="imu_data" to="imu2"/>
	<param name="publish_tf" value="true"/>	 
	<remap from="odom" to="wheelodom"/>
	</node> 

	<node pkg="pow_analyzer" type="converter_ekf" name="converter_ekf" output="screen"> 
	<remap from="imu/data" to="raw_imu"/> 
	</node>
	
	<node pkg="pow_analyzer" type="amcl_odom" name="amcl_odom" output="screen"/> 

	<node pkg="pow_analyzer" type="ekf_repub" name="ekf_repub" output="screen"/> 
	<node pkg="tf" type="static_transform_publisher" name="raw_tf" args="0 0 0 0 0 0 /map /raw_frame 10"/> 
	<!--node pkg="tf" type="static_transform_publisher" name="map_tf1" args="3.1 -1.5 0 1.9 0 0 /map /ekf_frame 10"/> -->
	<node pkg="tf" type="static_transform_publisher" name="map_tf1" args="0 0 0 1.6 0 0 /map /ekf_frame 10"/> 
	
	<node pkg="pow_analyzer" type="ekf_odom_timestamp" name="ekf_odom_timestamp" output="screen"/>
	
	<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find pow_analyzer)/launch/pow_rviz.vcg"/>

</launch>
